/* reset */
@import url("../tools/reset.css");
/* ---------fonts---------- */
@import url("../tools/EsME_fonts.css");
/* ---------共通設定--------- */
@import url("../tools/EsME_basic_setting.css");

/* ---- 共通導覽列 ----*/
header {
  height: 50px;
  width: 100%;
  background-color: #333533;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
}
header p {
  color: #fef9ef;
  display: inline;
}
header img {
  height: 30px;
  padding-left: 15px;
}
nav {
  padding-right: 15px;
  font-size: 0px;
  color: #fef9ef;
}
nav a {
  color: #fef9ef;
  font-size: 16px;
}
/* -----主要內容 grid----- */

.container {
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 80px;
  display: grid;
  align-items: center;
  text-align: center;


  background: url("../images/background/pixel_bg_43_empty.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

footer {
  background-color: #697268;
  padding: 10px;
  text-align: center;
}
footer p {
  color: #fef9ef;
  font-size: 12px;
}
#rights {
  font-size: 15px;
}

/* ------------------------- */
/* 主要內容 登入註冊 */

.main_login_signup {
  text-align: center;
}

#login_images img {
  width: 120px;
}

#login_content {
  align-items: center;
}
.login_signup h2 {
  font-family: "PressStart2P";
  font-size: 30px;
  margin: 30px 0px;
  color: #ee6055;
}
.login_signup input {
  font-size: 16px;
  background-color: rgba(255, 237, 0, 0.5);
  display: block;
  margin: 20px auto 0px;

  padding: 10px 20px;
  width: 250px;
  border: none;
  border-radius: 15px;
  outline: none;
}
.login_signup button {
  background: #77b6ea;
  display: block;
  margin: 20px auto 0px;
  margin-bottom: 20px;
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: #fef9ef;
}
.login_signup a,
.login_signup p {
  color: #697268;
  font-size: 14px;
}
.login_signup .input_info {
  color: #ee6055;
}
/* ----註冊---- */
#signUp_h2 {
  margin: 20px 0px;
}

/* ----------RWD---------- */
/* 特殊小螢幕手機 */
@media screen and (max-width: 350px) {
  header img {
    padding-left: 10px;
    height: 25px;
  }
  nav {
    padding-right: 10px;
  }

  #login_images img {
    width: 100px;
  }
  .login_signup a,
  .login_signup p {
    color: #fef9ef;
  }

  .login_signup input,
  .login_signup button {
    margin: 15px auto;
    width: 200px;
  }
  footer {
    height: 80px;
  }
  footer p {
    line-height: 1.2;
  }
}
/* 平板以上裝置 */
@media screen and (min-width: 768px) {
  header img {
    padding-left: 50px;
    height: 35px;
  }
  nav {
    padding-right: 50px;
  }
  nav a,
  nav p {
    font-size: 20px;
    transition: all 1s 0s ease;
  }
  nav a:hover {
    color: #ffed00;
    font-size: 22px;
  }
  #login_images img {
    width: 220px;
  }
  .submit_btn:hover {
    background-color: #35c073;
    font-weight: 900;
  }

  .login_signup a:hover {
    color: #35c073;
  }

  .main_login_signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  #login_images {
    justify-self: right;
    margin-right: 50px;
  }
  #login_content {
    justify-self: left;
    margin-left: 50px;
  }
}
